# Application configuration
CONFIG_FILE=api/tests/integ/config.test.yml
COMPOSE_FILE=.github/compose.ci.yml

# Dependencies
POSTGRES_PORT=15432
REDIS_PORT=16379
ELASTICSEARCH_PORT=19200
RABBITMQ_PORT=25672
RABBITMQ_UI_PORT=15672

# Secrets (to complete)
# ALBERT_API_KEY=
