# ----------------------------------- models ------------------------------------
models:
  - name: albert-testbed
    type: text-generation
    # aliases: ["model-alias"]
    # owned_by: Me
    # routing_strategy: shuffle
    providers:
      - type: vllm
        url: http://albert-testbed.etalab.gouv.fr:8000
        # key: sk-xxx
        model_name: "gemma3:1b"
        # timeout: 60
        # model_cost_prompt_tokens: 0.10
        # model_cost_completion_tokens: 0.10
        # model_carbon_footprint_zone: FRA
        # model_carbon_footprint_total_params: 8
        # model_carbon_footprint_active_params: 8
  
# -------------------------------- dependencies ---------------------------------
dependencies:
  postgres: # required
    url: postgresql+asyncpg://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-changeme}@${POSTGRES_HOST:-localhost}:${POSTGRES_PORT:-5432}/postgres
    echo: False
    pool_size: 5
    connect_args:
      server_settings:
        statement_timeout: "120s"
      command_timeout: 60

  redis: # required
    host: ${REDIS_HOST:-localhost}
    port: ${REDIS_PORT:-6379}
    password: ${REDIS_PASSWORD:-changeme}

  # elasticsearch:
  #   number_of_shards: 1
  #   number_of_replicas: 0
  #   hosts: "http://localhost:9200"
  #   basic_auth:
  #     - "elastic"
  #     - ${ELASTIC_PASSWORD}

  # brave:
  #   headers:
  #     Accept: application/json
  #     X-Subscription-Token: ${BRAVE_API_KEY}
  #   country: "fr"
  #   safesearch: "strict"

  # sentry:
  #   dsn: ${SENTRY_DSN}

# ---------------------------------- settings -----------------------------------
settings:
  # session_secret_key: ${SESSION_SECRET_KEY}
  # disabled_routers: ["admin", "audio"]
  # usage_tokenizer: tiktoken_gpt2
  # app_title: My OpenGateLLM API

  # log_level: INFO
  # log_format: [%(asctime)s][%(process)d:%(name)s][%(levelname)s] %(client_ip)s - %(message)s

  # swagger_version: 1.0.0
  # swagger_contact_url: https://github.com/etalab-ia/OpenGateLLM
  # swagger_contact_email: john.doe@example.com
  # swagger_docs_url: /docs
  # swagger_redoc_url: /redoc

  auth_master_username: master
  auth_master_key: changeme
  # auth_max_token_expiration_days: 365

  # rate_limiting_strategy: fixed_window

  # monitoring_sentry_enabled: True
  # monitoring_postgres_enabled: True
  # monitoring_prometheus_enabled: True

  # vector_store_model: my-model

  # search_web_query_model: my-model
  # search_web_limited_domains: ["google.com", "wikipedia.org"]
  # search_web_user_agent: None

  # search_multi_agents_synthesis_model: my-model
  # search_multi_agents_reranker_model: my-model

  playground_opengatellm_url: http://localhost:8000
  # playground_default_model: my-model
  # playground_theme_has_background: True
  # playground_theme_accent_color: purple
  # playground_theme_appearance: dark
  # playground_theme_gray_color: gray
  # playground_theme_panel_background: solid
  # playground_theme_radius: medium
  # playground_theme_scaling: 100%
