name: Update pyproject.toml version

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_call: # Add this to make the workflow reusable
  workflow_dispatch: # Add this to allow manual triggering

jobs:
  update_pyproject_version:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Update pyproject.toml version
      run: |
        git fetch --tags
        latest_version=$(git tag -l | tail -1)
        sed -i -E "s/^[[:space:]]*version[[:space:]]*=.*/version = \"${latest_version}\"/" pyproject.toml

    - name: Commit pyproject.toml
      uses: stefanzweifel/git-auto-commit-action@v4
      with:
        commit_message: Update pyproject.toml version
        file_pattern: pyproject.toml
        commit_author: "GitHub Actions <actions@github.com>"
        commit_email: "actions@github.com"
